In [13]:
import pandas as pd
import sqlite3

In [14]:
conn = sqlite3.connect('databases/MITOS_WSI_CMC_COADEL_TR.sqlite')

### MITOS_WSI_CMC_COADEL_TR.sqlite 
The database has 8 Tables:
- Annotations
- sqlite_sequence
- Annotations_coordinates
- Annotations_label
- Classes
- Log
- Persons
- Slides

In [17]:
an_df = pd.read_sql_query('SELECT * FROM Annotations', con=conn)

In [18]:
an_df

,uid,slide,type,agreedClass,guid,deleted,lastModified,description,clickable
0,1,1,1,1,8a18041d-469b-4b78-b53b-8572cae9e363,0,1.582190e+09,None,1
1,2,1,1,1,b8dd8f12-69cc-4d1d-8144-65502ee2e2b2,0,1.582190e+09,None,1
2,3,1,1,1,d92541c3-ad02-4977-8e65-e953a0ed405c,0,1.582190e+09,None,1
3,4,1,1,1,15a6df23-f1d3-4ae5-b0df-5a2d4b59be7e,0,1.582190e+09,None,1
4,5,1,1,1,137c8ead-45cf-4a42-b02a-4e54847f3f85,0,1.582190e+09,None,1
...,...,...,...,...,...,...,...,...,...
50329,396889,18,3,4,d789dc68-78d0-4426-a63e-0e20f81b9c6a,0,1.584701e+09,,1
50330,396890,12,3,4,7376d9b4-3c0f-43f4-b525-592eb3be2225,0,1.584701e+09,,1
50331,396891,7,3,4,4bbcd3d7-8f6c-4618-88ff-7894328bf519,0,1.584706e+09,,1
50332,396892,7,3,4,4f9964d4-efcc-4198-b179-922ca332e799,1,1.584706e+09,,1
50333,396893,7,3,5,b63f4bfc-f32d-4c60-ad97-3fd5a4a16334,0,1.584701e+09,,1

In [19]:
seq_df = pd.read_sql_query('SELECT * FROM sqlite_sequence', con=conn)
seq_df

                      name     seq
0                  Persons       5
1                  Classes       5
2                   Slides      22
3              Annotations  396893
4  Annotations_coordinates  402393
5        Annotations_label  522165
6                      Log  395338

In [21]:
an_cord_df = pd.read_sql_query('SELECT * FROM Annotations_coordinates', con=conn)
an_cord_df

          uid  coordinateX  coordinateY  slide  annoId  orderIdx  coordinateZ
0           1        21029         7246      1       1         1            0
1           2        21030         7305      1       2         1            0
2           3        20378         6976      1       3         1            0
3           4        21086         6940      1       4         1            0
4           5        23504         7623      1       5         1            0
...       ...          ...          ...    ...     ...       ...          ...
55208  402389        30573         1809     18  396889       146            0
55209  402390        41044        75288     12  396890       166            0
55210  402391        60213          437      7  396891        75            0
55211  402392        74923        36012      7  396892        27            0
55212  402393        74960        35956      7  396893        29            0

[55213 rows x 7 columns]

In [22]:
an_label_df = pd.read_sql_query('SELECT * FROM Annotations_label', con=conn)
an_label_df

           uid  person  class  annoId exact_id
0            1       1      1       1     None
1            2       1      1       2     None
2            3       1      1       3     None
3            4       1      1       4     None
4            5       1      1       5     None
...        ...     ...    ...     ...      ...
161307  522161       5      4  396889     None
161308  522162       5      4  396890     None
161309  522163       5      4  396891     None
161310  522164       5      4  396892     None
161311  522165       5      5  396893     None

[161312 rows x 5 columns]

In [23]:
class_df = pd.read_sql_query('SELECT * FROM Classes', con=conn)
class_df

   uid                       name    color
0    1    Mitotic cell look-alike  #0130d2
1    2             Mitotic figure  #22ff0d
2    4               Tumor region  #ff0000
3    5  Exclude from tumor region  #7fc4ae

In [28]:
log_df = pd.read_sql_query('SELECT * FROM Log', con=conn)
print(log_df.head(5))
print('Length of log:',len(log_df))

       dateTime     uid  labelId
0  1.582231e+09  395286   522113
1  1.582231e+09  395287   522114
2  1.582232e+09  395288   522115
3  1.582233e+09  395289   522116
4  1.582234e+09  395290   522117
Length of log: 53

In [29]:
person_df = pd.read_sql_query('SELECT * FROM Persons', con=conn)
person_df

   uid                 name  isExactUser
0    1             Christof            0
1    2               Robert            0
2    3  Christof and Robert            0
3    4            RetinaNet            0
4    5  Christof and Robert            0

### Looks to be an error in uid for the slides as they skip uid 4

In [30]:
slides_df = pd.read_sql_query('SELECT * FROM Slides', con=conn)
slides_df

,uid,filename,width,height,directory,EXACTUSER,uuid,exactImageID
0,1,a8773be388e12df89edd.svs,61199,57462,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
1,2,460906c0b1fe17ea5354.svs,136800,63831,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
2,3,2d56d1902ca533a5b509.svs,70199,65453,/Users/marcaubreville/Mitosis/WSI,0,None,None
3,5,d0423ef9a648bb66a763.svs,116999,85208,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
4,6,50cf88e9a33df0c0c8f9.svs,125999,87273,,0,None,None
5,7,da18e7b9846e9d38034c.svs,95399,84305,/Users/marcaubreville/Mitosis/WSI,0,None,None
6,8,d7a8af121d7d4f3fbf01.svs,111599,88592,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
7,9,2191a7aa287ce1d5dbc0.svs,98999,82534,/Users/marcaubreville/Mitosis/WSI,0,None,None
8,10,69a02453620ade0edefd.svs,97199,90076,,0,None,None
9,11,c4b95da36e32993289cb.svs,124199,84710,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
10,12,fa4959e484beec77543b.svs,118799,84406,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
11,13,72c93e042d0171a61012.svs,122399,78623,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
12,14,4eee7b944ad5e46c60ce.svs,44999,47721,,0,None,None
13,15,b1bdee8e5e3372174619.svs,125999,83745,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
14,16,3d3d04eca056556b0b26.svs,109799,87152,,0,None,None
15,17,084383c18b9060880e82.svs,61199,82153,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
16,18,e09512d530d933e436d5.svs,107999,81548,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
17,19,d37ab62158945f22deed.svs,122399,77178,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
18,20,deb768e5efb9d1dcbc13.svs,104399,76426,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
19,21,022857018aa597374b6c.svs,109799,84591,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None
20,22,13528f1921d4f1f15511.svs,131400,83891,C:/Users/digpath/Slides mamma/CMC_WSI_Aktuell ...,0,None,None